/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 11, 2014, 3:01:59 PM
    Author     : poegel
*/

#mainDiv > #menuLateral-Content{
  position: fixed;
  width: 85%;
  padding-left: 15%;
  height: 100%;
  z-index: 16;
  top: 0px;
  left: 0px;

  background-image: url("../img/global/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.menu-lateral-profile-div{
  padding-top: 10%;

}

#mainDiv > #menuLateral-Content #menu-lateral-control-div{
  border-bottom: 1px solid #FFFFFF;
  overflow: hidden;
  position: fixed;
  width: 100%;
  background-color: #EF3245;
  z-index: 16;
  top: 0px;
  left: 0px;
  opacity: 0.9;
  filter:alpha(opacity=90);
}

.menu-lateral-control-close{
  float: left;
  margin: 8% 4% 4%;
  width: 6%;
  cursor: pointer;
}

.menu-lateral-control-search{
  float: right;
  margin: 7% 4% 4% 0;
  width: 8%;
}

#input-menu-lateral-search{
  background-color: transparent;
  border: 0 none;
  color: #FFFFFF;
  font-size: 280%;
  height: 29px;
  margin: 7% 0 0;
  text-align: center;
  width: 70%;
}

#input-menu-lateral-search::-webkit-input-placeholder {
  color: #FFF;
}

#input-menu-lateral-search:-moz-placeholder { /* Firefox 18- */
  color: #FFF;  
}

#input-menu-lateral-search::-moz-placeholder {  /* Firefox 19+ */
  color: #FFF;  
}

#input-menu-lateral-search:-ms-input-placeholder {  
  color: #FFF;  
}

.profile-image{
  margin: 3%;
  padding: 0 32%;
  width: 30%;
}

.profile-image-disconect{
  float: left;
  left: 5%;
  padding: 0;
  position: absolute;
  top: 3%;
  width: 7%;
}

.relativeDiv{
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: scroll;
}

.menu-lateral-title{
  color: #FFFFFF;
  font-family: 'Apercu',Arial,Helvetica,sans-serif;
  font-size: 380%;
  text-align: center;
  font-weight: bold;
}

.menu-lateral-submenu-title{
  width: 100%;
  color: #FFFFFF;
  font-family: 'Apercu',Arial,Helvetica,sans-serif;
  font-size: 280%;
  line-height: 2;
  border-bottom: 1px solid #CCC;
  float: left;
}

.menu-lateral-submenu-title > img{
  float: left;
  margin: 5% 25%;
  width: 50%;
}

.menu-lateral-submenu-title > p{
  float: left;
}

.menu-lateral-submenuDiv{
  color: #FFFFFF;
  font-size: 280%;
  padding: 5% 10%;
}

.menu-lateral-submenu-copines{
  padding: 3% 0;
  background-image: url("../img/slide/render/circle.png");
  background-repeat: no-repeat;
  background-position: 2% 50%;
  background-size: 3% auto;
}

.menu-lateral-submenu-copines > p{
  padding-left: 15%;
}

.menu-lateral-submenu{
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 8% auto;
  float: left;
  padding: 3% 0;
  width: 100%;
}

.menu-lateral-submenu > p{
  float: left;
  padding-left: 15%;
  padding-top: 2%;
}

.menu-lateral-submenu > img{
  float: right;
  width: 10%;
}

.menu-lateral-submenu.search{
  background-image: url("../img/register/buttons/search.png");
}

.menu-lateral-submenu.add-categories{
  background-image: url("../img/register/buttons/follow.png");
}

.menu-lateral-submenu-copines-title{
  padding: 8% 8%;
  font-weight: bold;
}
